/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: GUNZIP {
        publishDir = [
            enabled: false
        ]
    }

    withName: MMSEQS_DATABASES {
        publishDir = [
            path: { "${params.outdir}/databases/mmseqs/" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            params.taxa_classification_mmseqs_db_savetmp ? "" : "--remove-tmp-files",
            "--compressed ${params.taxa_classification_mmseqs_compressed ? '1' : '0'}",
        ].join(' ').trim()
    }

    withName: MMSEQS_CREATEDB {
        publishDir = [
            path: { "${params.outdir}/databases/mmseqs/mmseqs_createdb/" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--compressed ${params.taxa_classification_mmseqs_compressed ? '1' : '0'}"
        ].join(' ').trim()
    }

    withName: MMSEQS_TAXONOMY {
        publishDir = [
            path: { "${params.outdir}/databases/mmseqs/mmseqs_taxonomy/" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            params.taxa_classification_mmseqs_taxonomy_savetmp ? "" : "--remove-tmp-files",
            "--search-type ${params.taxa_classification_mmseqs_taxonomy_searchtype}",
            "--lca-ranks ${params.taxa_classification_mmseqs_taxonomy_lcaranks}",
            "--tax-lineage ${params.taxa_classification_mmseqs_taxonomy_taxlineage}",
            "-s ${params.taxa_classification_mmseqs_taxonomy_sensitivity}",
            "--orf-filter-s ${params.taxa_classification_mmseqs_taxonomy_orffilters}",
            "--lca-mode ${params.taxa_classification_mmseqs_taxonomy_lcamode}",
            "--vote-mode ${params.taxa_classification_mmseqs_taxonomy_votemode}",
            "--compressed ${params.taxa_classification_mmseqs_compressed ? '1' : '0'}",
        ].join(' ').trim()
    }

    withName: MMSEQS_CREATETSV {
        publishDir = [
            path: { "${params.outdir}/taxa_classification/mmseqs_createtsv/${meta.id}/" },
            mode: params.publish_dir_mode,
            enabled: params.run_taxa_classification,
            pattern: "*.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--compressed ${params.taxa_classification_mmseqs_compressed ? '1' : '0'}"
        ].join(' ').trim()
    }

    withName: SEQKIT_SEQ_FILTER {
        ext.prefix = { "${meta.id}_cleaned.faa" }
        publishDir = [
            path: { "${params.outdir}/protein_annotation/interproscan/" },
            mode: params.publish_dir_mode,
            enabled: { params.run_protein_annotation },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--gap-letters '* \t.' --remove-gaps"
        ].join(' ').trim()
    }

    withName: INTERPROSCAN_DATABASE {
        publishDir = [
            path: { "${params.outdir}/databases/interproscan/" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: INTERPROSCAN {
        ext.prefix = { "${meta.id}_interproscan.faa" }
        publishDir = [
            path: { "${params.outdir}/protein_annotation/interproscan/" },
            mode: params.publish_dir_mode,
            enabled: params.run_protein_annotation,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--applications ${params.protein_annotation_interproscan_applications}",
            params.protein_annotation_interproscan_enableprecalc ? '' : '--disable-precalc',
            '--disable-residue-annot',
            '--enable-tsv-residue-annot',
            "--formats tsv",
        ].join(' ').trim() // Warning: Do not disable the flags "--enable-tsv-residue-annot" and "--formats tsv"! This would cause a run failure because the format of the resulting files would no longer be adequate for parsing by AMPcombi2.
    }

    withName: PROKKA {
        ext.prefix = { "${meta.id}_prokka" }
        publishDir = [
            path: { "${params.outdir}/annotation/prokka/${meta.category}/" },
            mode: params.publish_dir_mode,
            enabled: params.save_annotations,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--kingdom ${params.annotation_prokka_kingdom}",
            "--gcode ${params.annotation_prokka_gcode}",
            "--mincontiglen ${params.annotation_prokka_mincontiglen}",
            "--evalue ${params.annotation_prokka_evalue}",
            "--coverage ${params.annotation_prokka_coverage}",
            params.annotation_prokka_retaincontigheaders ? "--force" : "--locustag PROKKA --centre CENTER",
            params.annotation_prokka_singlemode ? '' : '--metagenome',
            params.annotation_prokka_cdsrnaolap ? '--cdsrnaolap' : '',
            params.annotation_prokka_rawproduct ? '--rawproduct' : '',
            params.annotation_prokka_rnammer ? '--rnammer' : '',
            params.annotation_prokka_compliant ? '--compliant' : '',
            params.annotation_prokka_addgenes ? '--addgenes' : '',
        ].join(' ').trim()
    }

    withName: BAKTA_BAKTADBDOWNLOAD {
        publishDir = [
            path: { "${params.outdir}/databases/bakta" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            "--type ${params.annotation_bakta_db_downloadtype}"
        ].join(' ').trim()
    }

    withName: BAKTA_BAKTA {
        ext.prefix = { "${meta.id}_bakta" }
        publishDir = [
            path: { "${params.outdir}/annotation/bakta/${meta.category}/" },
            mode: params.publish_dir_mode,
            enabled: params.save_annotations,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            params.annotation_bakta_singlemode ? '' : '--meta',
            "--min-contig-length ${params.annotation_bakta_mincontiglen}",
            "--translation-table ${params.annotation_bakta_translationtable}",
            "--gram ${params.annotation_bakta_gram}",
            params.annotation_bakta_complete ? '--complete' : '',
            params.annotation_bakta_renamecontigheaders ? '' : '--keep-contig-headers',
            params.annotation_bakta_compliant ? '--compliant' : '',
            params.annotation_bakta_trna ? '' : '--skip-trna',
            params.annotation_bakta_tmrna ? '' : '--skip-tmrna',
            params.annotation_bakta_rrna ? '' : '--skip-rrna',
            params.annotation_bakta_ncrna ? '' : '--skip-ncrna',
            params.annotation_bakta_ncrnaregion ? '' : '--skip-ncrna-region',
            params.annotation_bakta_crispr ? '' : '--skip-crispr',
            params.annotation_bakta_skipcds ? '--skip-cds' : '',
            params.annotation_bakta_pseudo ? '' : '--skip-pseudo',
            params.annotation_bakta_skipsorf ? '--skip-sorf' : '',
            params.annotation_bakta_gap ? '' : '--skip-gap',
            params.annotation_bakta_ori ? '' : '--skip-ori',
            params.annotation_bakta_activate_plot ? '' : '--skip-plot',
            params.annotation_bakta_hmms ? '--hmms ${params.annotation_bakta_hmms}' : '',
        ].join(' ').trim()
    }

    withName: PRODIGAL {
        publishDir = [
            path: { "${params.outdir}/annotation/prodigal/${meta.category}/" },
            mode: params.publish_dir_mode,
            enabled: params.save_annotations,
            pattern: "*.{faa,fna,gbk,faa.gz,faa.gz,fna.gz,gbk.gz}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            params.annotation_prodigal_singlemode ? "-p single" : "-p meta",
            params.annotation_prodigal_closed ? "-c" : "",
            params.annotation_prodigal_forcenonsd ? "-n" : "",
            "-g ${params.annotation_prodigal_transtable}",
        ].join(' ').trim()
    }

    withName: PYRODIGAL {
        ext.prefix = { "${meta.id}_pyrodigal" }
        publishDir = [
            path: { "${params.outdir}/annotation/pyrodigal/${meta.category}/" },
            mode: params.publish_dir_mode,
            enabled: params.save_annotations,
            pattern: "*.{faa,fna,gbk,score}.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = [
            params.annotation_pyrodigal_singlemode ? "-p single" : "-p meta",
            params.annotation_pyrodigal_closed ? "-c" : "",
            params.annotation_pyrodigal_forcenonsd ? "-n" : "",
            params.annotation_pyrodigal_usespecialstopcharacter ? '' : '--no-stop-codon',
            "-g ${params.annotation_pyrodigal_transtable}",
        ].join(' ').trim()
    }

    withName: HAMRONIZATION_AMRFINDERPLUS {
        publishDir = [
            path: { "${params.outdir}/databases/amrfinderplus" },
            mode: params.publish_dir_mode,
            enabled: params.save_db,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: AMRFINDERPLUS_RUN {
        publishDir = [
            path: { "${params.outdir}/arg/amrfinderplus/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = {
            [
                "--ident_min ${params.arg_amrfinderplus_identmin}",
                "--coverage_min ${params.arg_amrfinderplus_coveragemin}",
                "--translation_table ${params.arg_amrfinderplus_translationtable}",
                params.arg_amrfinderplus_plus ? '--plus' : '',
                params.arg_amrfinderplus_name ? "--name ${meta.id}" : '',
            ].join(' ').trim()
        }
    }

    withName: EXTRACT_ARG_SEQUENCES {
        publishDir = [
            path: { "${params.outdir}/arg/extracted_sequences" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MERGE_FASTA {
        publishDir = [
            path: { "${params.outdir}/arg/merged_sequences" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CDHIT_EST {
        publishDir = [
            path: { "${params.outdir}/arg/deduplicated_catalog" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: HAMRONIZATION_AMRFINDERPLUS {
        publishDir = [
            path: { "${params.outdir}/arg/hamronization/amrfinderplus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${report}.amrfinderplus" }
    }

    withName: BWA_MEM2_INDEX {
        publishDir = [
            enabled: false
        ]
    }

    withName: BWA_MEM2_MAP_ARG {
        publishDir = [
            path: { "${params.outdir}/arg/bwa_mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MERGE_ARG_COUNTS {
        publishDir = [
            path: { "${params.outdir}/arg/merged_counts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: HAMRONIZATION_SUMMARIZE {
        publishDir = [
            path: { "${params.outdir}/arg/hamronization/amrfinderplus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${report}.amrfinderplus" }
    }

    withName: HAMRONIZATION_SUMMARIZE {
        publishDir = [
            path: { "${params.outdir}/reports/hamronization_summarize" },
            mode: params.publish_dir_mode,
            saveAs: { params.run_taxa_classification == false ? it : null },
        ]
    }

    withName: MERGE_TAXONOMY_HAMRONIZATION {
        publishDir = [
            path: { "${params.outdir}/reports/hamronization_summarize" },
            mode: params.publish_dir_mode,
            saveAs: { _ -> null },
        ]
    }

    withName: ARG_TABIX_BGZIP {
        ext.prefix = { "hamronization_complete_summary_taxonomy" }
        publishDir = [
            path: { "${params.outdir}/reports/hamronization_summarize" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: ARGNORM_AMRFINDERPLUS {
        publishDir = [
            path: { "${params.outdir}/arg/argnorm/amrfinderplus/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${meta.id}.normalized.tsv" }
        ext.args   = "--hamronized"
    }
}
